<h1 class="page-title">Events</h1>

<%= toolbar do %>
  <%= link_to 'Create', new_event_path, class: 'btn-success' %>
<% end %>

<table class="data-grid">
  <thead>
    <tr>
      <th class="primary">Title</th>
      <th class="actions">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% if @resources.present? %>
      <% @resources.each do |record| %>
        <tr>
          <td class="primary"><%= link_to record.title, edit_event_path(record), class: 'primary-action' %></td>
          <td class="actions">
            <%= action_link :edit, edit_event_path(record) %>
            <%= action_link :delete, event_path(record) %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">No records.</td>
      </tr>
    <% end %>
  </tbody>
</table>
