<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="admin-header">
      <div class="container">
        <div class="admin-header-wrapper">
          <%= link_to 'Admin', '#', class: 'logo' %>

          <nav>
            <%= nav_link 'Module 1', '#', 'parties' %>
            <%= nav_link 'Events', events_path, 'events' %>
            <%= nav_link 'Module 3', '#', '#' %>

            <div class="sub-menu">
              Settings
              <nav>
                <%= link_to 'Administrators', '#' %>
              </nav>
            </div>
          </nav>

          <div class="profile">
            <div class="username">
              <%= icon(:user) %>
              Pencho
            </div>

            <%= link_to icon(:logout), '#', method: :delete %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <%= footer('Neuvents') %>
  </body>
</html>
