<%= form_with model: @resource, url: resource_path, data: {remote: false} do |f| %>
  <div class="form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <%= f.submit 'Save', class: 'btn-primary lg' %>
  <%= link_to 'Cancel', resources_location, class: 'btn-secondary lg' %>
<% end %>
